<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	
	<h1 th:text='${error}'></h1>
	<h1 th:text='${success}'></h1>
	<form action="delete">
		<table>
		
		 <tr th:each="books : ${books}">
	 	    <td th:text='${books.id}'>Id</td>
       		<td th:text="${books.name}">Title</td>
       		<td><a href="#" data-th-href="@{delete(id=${books.id},phase=confirm)}"><span>Delete</span></a></td>
  		 </tr>
  			
  	  		
   	</table>
 </form>
 
 <form action="download">
 	<table>
 	
 		<tr>
 			<td>
 			
 				<input type="submit" value="Download" />
 			</td>
 		
 		</tr>
 	</table>
 </form>
</body>
</html>