
 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8"></meta>
  <title>Sign Up Form with live validation</title>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel="stylesheet" href="css/register.css" />


</head>

<body>

  	
	<div class="navbar-header">
		<div class="navbar-brand">
			<a href="/"><h1 style="color:white;">Home</h1></a>
		</div>
	</div>
<br /><br /><br />
<form method="post" th:object="${book}">
  <h2>Sign Up</h2>
  <h3 th:text="${error}"></h3>
  		<p>
			<label th:for="name" class="floatLabel">Name</label>
			<input type="text" th:field="*{name}"/>
			<span th:errors="*{name}"></span>
		</p>
		
		<!-- <p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="Email" type="text" />
		</p> -->
		
	
		<p>
			<input type="submit" value="Add" id="submit" />
		</p>
	</form>
  


</body>

</html>
 